@using System;

@{
    ViewData["Title"] = "Luz, câmera e opinião";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/wwwroot/css/estilo.css">
    <title>Luz, câmera, opinião</title>
</head>

<body>

    <header>
        
    </header>
    <main>

        <img src="https://assets-global.website-files.com/60ff690cd7b0537edb99a29a/64c43980fa30f0466ca89950_barbie-p-1080.jpg"
            width="1080" height="400">

        <h4>"Entre na magia do cinema conosco - sua jornada por resenhas autênticas e análises cativantes começa aqui!
        </h4>
        <br><br>
        <h2>Destaques da semana:</h2>
        <p> filme "Barbie", lançado em 2023 e estrelado por Margot Robbie, Ryan Gosling, Simu Liu, America Ferrera e
            Will
            Ferrell, foi um grande sucesso de bilheteria, arrecadando mais de US$1,4 bilhão globalmente, mas não escapou
            de
            críticas relacionadas ao seu discurso feminista considerado raso por alguns espectadores....</p>
        <a href="/Home/Noticias"><button>Saiba Mais</button></a>

        <br><br>

        <p>"Wish: O Poder dos Desejos" é um filme desenvolvido para celebrar o centenário da Disney, ambientado em
            Rosas, um
            lugar mágico governado pelo Rei Magnífico. A protagonista, Asha, aspira a se tornar aprendiz do feiticeiro
            para
            realizar o sonho de seu avô....</p>
        <a href="/Home/Noticias"><button>Saiba Mais</button></a>
    </main>

    <footer>

    </footer>
</body>


</html>
