<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luz, câmera, opinião</title>
</head>
<header>
</header>
<main>
    <br>
    <h2 class="text-center fonteNot">Últimas notícias</h2>
    <br>
    <div class="shadow p-3 mb-5 bg-white rounded marginNot">
        <p>O filme "Barbie" estreou hoje na HBO Max com opções de libras e audiodescrição, reforçando a mensagem de
            inclusão da produção e a importância da acessibilidade para a comunidade surda. A versão com libras é
            destacada na plataforma de streaming, sendo identificada pelo símbolo da linguagem de sinais na capa.
            Coestrelado por Margot Robbie, Ryan Gosling, Simu Liu, America Ferrera e Will Ferrell, o filme já saiu de
            cartaz nos cinemas brasileiros após arrecadar mais de US$ 1,4 bilhão globalmente. Com indicações em diversas
            categorias no Globo de Ouro e no Critic's Choice Awards, a trama segue a Barbie de Margot Robbie enquanto
            escapa da Barbieland para resolver seus próprios problemas, acompanhada pelo Ken de Ryan Gosling no mundo
            real, onde ambos confrontam desafios relacionados ao patriarcado.</p>
        <h5>- Barbie</h5>
    </div>
    <br>
    <div class="shadow p-3 mb-5 bg-white rounded marginNot">
        <p>Wish: O Poder dos Desejos" é um filme desenvolvido para celebrar o centenário da Disney, ambientado em Rosas,
            um
            lugar mágico governado pelo Rei Magnífico. A protagonista, Asha, aspira a se tornar aprendiz do feiticeiro
            para
            realizar o sonho de seu avô. No entanto, ao confrontar o rei, ela descobre sua verdadeira natureza e falha
            em
            realizar o desejo do avô. Determinada a resgatar os sonhos de todos, Asha recebe ajuda de uma estrela
            mágica. O
            filme é repleto de referências aos clássicos da Disney, mas a autoindulgência dessas escolhas limita seu
            potencial. A trama parece ser um pretexto para celebrar o centenário, e o filme carece de uma história
            emocionante. Apesar de números musicais fofos e um elenco de vozes competente, "Wish" não consegue oferecer
            uma
            homenagem digna ao estúdio responsável por histórias envolventes.</p>
        <h5>- Wish</h5>
    </div>
    <br>
    <div class="shadow p-3 mb-5 bg-white rounded marginNot">
        <p>Em 2023, a bilheteria global atingiu US$33,9 bilhões, marcando um aumento de 31% em relação a 2022, de acordo
            com
            a Gower Analytics. Apesar desse crescimento positivo, a arrecadação ainda ficou 15% abaixo dos níveis
            pré-pandemia de 2017, 2018 e 2019. A América do Norte liderou o mercado com US$9,1 bilhões, representando
            26,8%
            do total, seguida pela China com US$7,7 bilhões. O restante dos países contribuiu com US$17,1 bilhões para a
            indústria cinematográfica. Destacam-se como maiores sucessos do ano nas bilheterias os filmes "Barbie"
            (US$1,4
            bilhão), "Super Mario Bros. - O Filme" (US$1,3 bilhão), "Oppenheimer" (US$950 milhões), "Guardiões da
            Galáxia
            Vol. 3" (US$845 milhões) e "Velozes e Furiosos 10" (US$704 milhões).</p>

        <h5>- Bilheteria Mundial em 2023 Alcança US$33,9 Bi</h5>
    </div>
    <br>
    <div class="shadow p-3 mb-5 bg-white rounded marginNot">
        <p>O filme "Barbie", lançado em 2023 e estrelado por Margot Robbie, Ryan Gosling, Simu Liu, America Ferrera e
            Will
            Ferrell, foi um grande sucesso de bilheteria, arrecadando mais de US$1,4 bilhão globalmente, mas não escapou
            de
            críticas relacionadas ao seu discurso feminista considerado raso por alguns espectadores. America Ferrera,
            que
            interpreta Gloria no filme, rebateu essas críticas, argumentando que muitas pessoas não têm conhecimento
            sobre a
            filosofia feminista e destacou a importância de oferecer uma compreensão básica do feminismo. Ferrera também
            mencionou que o filme foi banido em alguns países, como Argélia, Vietnã, Kuwait e Líbano. Apesar das
            críticas, o
            filme recebeu indicações em várias categorias no Globo de Ouro e no Critic's Choice Awards. A trama segue a
            Barbie, interpretada por Margot Robbie, enquanto escapa da Barbieland para resolver seus próprios problemas,
            acompanhada pelo Ken de Ryan Gosling, que enfrenta questões relacionadas ao patriarcado. O filme saiu de
            cartaz
            nos cinemas brasileiros após seu sucesso nas bilheterias.</p>
        <h5>- Barbie</h5>
    </div>
</main>

<footer>

</footer>

<body>

</body>

</html>