<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Luz, câmera, opinião</title>
    </head>
        <header> 
        </header>
        <main>
            <br>
            <h3 class="text-center fontCad">Explore mais sobre nossa identidade e propósito.</h3>
            <br>
            <div class="shadow p-3 mb-5 bg-white rounded marginNot">
            <h2>"Quem somos?"</h2>
            <p>Bem-vindo ao nosso site de resenhas de filmes! Somos um grupo apaixonado por cinema, composto por entusiastas, críticos e profissionais da indústria. Nosso objetivo é oferecer resenhas detalhadas, análises aprofundadas e classificações honestas sobre uma variedade de filmes, desde os mais recentes até clássicos atemporais. Além disso, compartilhamos informações dos bastidores, curiosidades e, ocasionalmente, entrevistas exclusivas. Queremos criar uma comunidade vibrante de amantes de cinema, proporcionando uma experiência única de exploração e discussão cinematográfica. Junte-se a nós nesta jornada cinematográfica!</p>
            </div>
            <br>
             <div class="shadow p-3 mb-5 bg-white rounded marginNot">
            <h2>"O que nos motivou?"</h2>
            <p>Iniciamos este site de resenhas de filmes com a convicção de que o cinema é mais do que apenas entretenimento; é uma experiência que nos conecta, inspira e desafia. A paixão por contar histórias através das telas nos impulsionou a criar um espaço onde amantes do cinema podem encontrar análises sinceras, explorar uma diversidade de filmes e compartilhar a magia que cada obra cinematográfica proporciona.</p>
            </div>
            <br>
             <div class="shadow p-3 mb-5 bg-white rounded marginNot">
            <h2>"Quais são os nossos planos futuros para esse site?"</h2>
            <p>Pretendemos expandir ainda mais nossa cobertura, abrangendo uma variedade maior de gêneros, produções independentes e cinematografias globais. Além disso, estamos trabalhando para incorporar novos formatos de conteúdo, como vídeos e podcasts, para proporcionar uma experiência ainda mais envolvente aos nossos leitores. </p>
            </div>

        </main>

        <footer>

        </footer>

    <body>

    </body>

</html>