<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luz, câmera, opinião</title>
</head>

<body>
    <header>
    </header>
    <main>
        <img src="~/img/resenha1.jpg" class="d-block w-100">
        <br>
        <h3 class="text-center fonteCad fonteRes">Compartilhe sua opinião sobre o filme em nossa plataforma de <br>
            resenhas e ajude a enriquecer a experiência cinematográfica para<br> todos!</h3>
            <br>  <br>

        <div class="shadow p-3 mb-5 margin" id="Caixa">
            <h3 class="fonteDesc">Dicas para fazer uma boa resenha:</h3>
            <br>
            <p class="marginDicas">1. Assista com atenção: Observe os detalhes do filme.</p>
            <p class="marginDicas">
               2. Conheça o contexto: Pesquise sobre o filme e seu contexto.
            </p>
            <p class="marginDicas">
              3. Introdução envolvente: Comece com título, diretor e sinopse.
            </p>
            <p class="marginDicas">
               4. Analise os elementos: Discuta enredo, personagens, direção, etc.
            </p>
            <p class="marginDicas">
                5. Ofereça insights: Dê suas análises e opiniões.
            </p>
            <p class="marginDicas"> 
                6. Use exemplos: Apoie suas análises com exemplos do filme.
            </p>
            <p class="marginDicas">
                7. Seja objetivo: Mantenha uma abordagem equilibrada.
            </p>
            <p class="marginDicas">
                8. Contextualize suas opiniões: Explique suas experiências.
            </p>
            <p class="marginDicas">
               9. Conclusão sintetizada: Resuma suas principais observações.
            </p>
            <p class="marginDicas">
                10. Revise e edite: Verifique erros e clareza da resenha.</p>
        </div>
         <div>
            <hr class="linha">
        </div>
        <div class="shadow p-3 mb-5 marginRes text-center">
            <h3 class="fonteCad">Faça resenhas dos seus filmes favoritos aqui!</h3>
            <br>
            <textarea rows="4" cols="35" placeholder="Digite aqui..." class="botaoRes"></textarea>
        </div>


    </main>

    <footer>

    </footer>


</body>

</html>
