<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Luz, câmera, opinião</title>
    </head>
        <header> 
        </header>
        <main>
            <br>
           <h2>Trailers em destaque:</h2>
           <br>
           
           <iframe width="300" height="200" src="https://www.youtube.com/embed/tBATL4NUN9A?si=Jz_ujSaUoUX1g5wh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           <p>Wish | Teaser Trailer</p>
           <br><br>
           <iframe width="300" height="200" src="https://www.youtube.com/embed/0fyqDiodBS0?si=MY8aiuhGnc3FtJmB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           <p>PLANETA DOS MACACOS: O REINADO Trailer</p>
           <br><br>
           <iframe width="300" height="200" src="https://www.youtube.com/embed/Ujs1Ud7k49M?si=JsFsJpTXqEhEiyx_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           <p>Barbie | Trailer dublado</p>
           <br><br>
           <iframe width="300" height="200" src="https://www.youtube.com/embed/F3OxA9Cz17A?si=ymhA6D5kDInvF6g5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           <p>OPPENHEIMER - Novo Trailer</p>

        </main>

        <footer>

        </footer>

    <body>

    </body>

</html>